<h1><%= @student.to_s %></h1>

<!-- <h2>< %= "This student is currently inactive.<a href='activate_student_path(@student)'>Click to Activate</a>" if @student.active == false% ></h2> -->
<!-- < %if @student.active == false%>
< %= <a href='activate_student_path(@student)'>This student is currently inactive. Click to Activate</a> %>
< %end%> -->
<!-- above not working, kep getting error in rails through the if else would work in sinatra prerry sure -->
<h2><%= "This student is currently inactive."   if @student.active == false%></h2>
<h2><%= "This student is currently active."   if @student.active == true%></h2>
